<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>PathTracker Beta</title>
    <!--
        third-party scripts used:
            Angular
            jQuery
            Draggable Lists CSS/JS found at: https://codepen.io/retrofuturistic/pen/tlbHE
                by: retrofuturistic

    -->

    <!-- third party scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/underscore/underscore-min.js"></script>

    <!-- js -->
    <!--<script type="text/javascript" src="js/sortable.js"></script>-->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/modal/modalService.js"></script>
    <script type="text/javascript" src="js/modal/modalDirective.js"></script>
    <script src="js/draggableLists.js"></script>

    <!-- style sheets -->
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="stylesheet" type="text/css" href="styles/modal.css">
    <link rel="stylesheet" type="text/css" href="styles/draggableLists.css">

</head>
    <body ng-app="pathTracker">
        <div class="topnav">
            <img src="img/target_green.svg" class="headerLogo" alt="Logo" />
            <a href="#">PathTracker</a>
        </div>

        <div ng-controller="enemyCtrl">

            <div class="sidebar-left">
                <a ng-click="addPlayer()" href="#"><span style="font-size: 25px;">&plus;</span> Add Player</a>
                <ul ng-model="players" class="initiative columns">
                    <!--<li draggable="true" ng-repeat="char in enemies | filter: { Alive: true }" class="column playerCharacter" ng-class="{'nonPlayerCharacter': !char.Player}">-->
                    <li draggable="true" ng-repeat="char in players" class="playerCharacter" ng-class="{'nonPlayerCharacter': !char.Player}">
                        <input type="text" ng-model="char.Name" class="playerCharacterName" />
                        
                        <img src="img/shield.svg" class="initiativeCrIcon" />
                        <input type="text" ng-model="char.AC.Total" ng-blur="setHealth(char)" class="playerCharacterAC" ng-if="char.Player" />
                        <div ng-blur="setHealth(char)" class="playerCharacterAC" ng-if="!char.Player">{{char.AC.Total}}</div>
                    </li>
                </ul>
            </div>

            <div class="enemyCardContainer">
                <div ng-repeat="enemy in enemies | filter: { Player: false } track by $index " class="enemyCard" ng-style="enemy.Color">
                    <div class="enemyCardTitle">
                        <div class="collapseDetails" ng-click="collapseDetails(enemy, $index)">
                            <span ng-show="enemy.Alive && enemy.Collapsed">&plus;</span>
                            <span ng-show="enemy.Alive && !enemy.Collapsed">&minus;</span>
                            <span ng-show="!enemy.Alive" class="removeIcon">&#10006;</span>
                        </div>
                        
                        <div class="toggleLifeButton" 
                            ng-class="{ 'killButton': enemy.Alive, 'reviveButton': !enemy.Alive }" 
                            ng-click="killEnemy(enemy)"></div>

                        <input type="text" class="enemyName" 
                            ng-class="{ 'dead': !enemy.Alive }"
                            ng-model="enemy.Name" />

                        <div class="enemyHealthButtons">
                            <a href="#" class="addHealthMod" ng-click="healEnemy(enemy)"> &plus; </a>
                            <a href="#" class="subHealthMod" ng-click="damageEnemy(enemy)"> &minus; </a>
                        </div>
                        <input type="text" ng-model="enemy.HP" ng-blur="setHealth(enemy)" class="enemyHealth" />
                    </div>

                    <div class="cardDetails" ng-hide="!enemy.Alive || enemy.Collapsed">
                        <div class="armorClassContainer">
                            <img src="img/shield.svg" class="crIcon" />
                            <div class="acNumber">{{enemy.AC.Total}}</div>
                        </div>

                        <table class="enemyCardStats">
                            <tr>
                                <th>Int</th>
                                <th>Str</th>
                                <th>Dex</th>
                                <th>Cha</th>
                                <th>Con</th>
                                <th>Wis</th>
                            </tr>
                            <tr>
                                <td>{{enemy.Stats.Int}}</td>
                                <td>{{enemy.Stats.Str}}</td>
                                <td>{{enemy.Stats.Dex}}</td>
                                <td>{{enemy.Stats.Cha}}</td>
                                <td>{{enemy.Stats.Con}}</td>
                                <td>{{enemy.Stats.Wis}}</td>
                            </tr>
                        </table>

                        <div class="combatRatingContainer">
                            <img src="img/sword.svg" class="crIcon" />
                            <div class="crNumber">{{enemy.CR}}</div>
                        </div>
                        
                        <table class="enemyCardDef">
                            <tr>
                                <th>Fort</th>
                                <th>Ref</th>
                                <th>Will</th>
                            </tr>
                            <tr>
                                <td>{{enemy.Saves.Fort}}</td>
                                <td>{{enemy.Saves.Ref}}</td>
                                <td>{{enemy.Saves.Will}}</td>
                            </tr>
                        </table>

                        <div class="detailStats">
                            <p>{{enemy.AC.Details}}</p>
                        </div>

                        <div class="enemyInventory">
                            <div ng-show="enemy.SpecialAbilities">
                                <h3 class="sectionName" ng-click="showAbilities = !showAbilities">
                                    Abilities
                                </h3>
                                <ul class="inventoryList" ng-show="showAbilities">
                                    <li>{{enemy.SpecialAbilities}}</li>
                                </ul>
                            </div>

                            <div ng-show="enemy.SpecialAttacks">
                                <h3 class="sectionName" ng-click="showAttacks = !showAttacks">
                                    Attacks
                                </h3>
                                <ul class="inventoryList" ng-show="showAttacks">
                                    <li>{{enemy.SpecialAttacks}}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="colorPallettes">
                            <div class="pallette" style="background-color: blue" ng-click="enemy.Color={'background-color': '#93A8AC' }"></div>
                            <div class="pallette" style="background-color: red" ng-click="enemy.Color={'background-color': '#CC998D' }"></div>
                            <div class="pallette" style="background-color: grey" ng-click="enemy.Color={'background-color': '#BCBDC0' }"></div>
                            <div class="pallette" style="background-color: green" ng-click="enemy.Color={}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar">
                <input type="text" class="searchTerm rq-form-element" ng-model="search.Name">
                
                <div class="monsterResults">
                    <a ng-click="openModal('custom-enemy')" href="#">Add Custom Enemy</a>
                    <a ng-repeat="enemy in enemyIndex | filter:search.Name" ng-click="addEnemy(enemy)" href="#">{{enemy.Name}}</a>
                </div>
            </div>
        </div>
       
            <!--Modals-->
            <modal id="custom-enemy">
                <div class="modal">
                    <div class="modal-body enemyCard">
                        <div class="enemyCardTitle">
                            <div class="collapseDetails" ng-click="collapseDetails(enemy, $index)">
                                <span ng-show="customEnemy.Alive && customEnemy.Collapsed">&plus;</span>
                                <span ng-show="customEnemy.Alive && !customEnemy.Collapsed">&minus;</span>
                                <span ng-show="!customEnemy.Alive" class="removeIcon">&#10006;</span>
                            </div>

                            <input type="text" class="enemyName" 
                                ng-class="{ 'dead': !customEnemy.Alive }"
                                ng-model="customEnemy.Name" />

                            <input type="text" ng-model="customEnemy.HP" ng-blur="setHealth(customEnemy)" class="enemyHealth" />
                        </div>

                        <div class="cardDetails">
                            <div class="armorClassContainer">
                                <img src="img/shield.svg" class="crIcon" />
                                <input class="acNumber" ng-model="customEnemy.AC.Total">
                            </div>

                            <table class="enemyCardStats">
                                <tr>
                                    <th>Int</th>
                                    <th>Str</th>
                                    <th>Dex</th>
                                    <th>Cha</th>
                                    <th>Con</th>
                                    <th>Wis</th>
                                </tr>
                                <tr>
                                    <td><input type="text" ng-model="customEnemy.Stats.Int"></td>
                                    <td><input type="text" ng-model="customEnemy.Stats.Str"></td>
                                    <td><input type="text" ng-model="customEnemy.Stats.Dex"></td>
                                    <td><input type="text" ng-model="customEnemy.Stats.Cha"></td>
                                    <td><input type="text" ng-model="customEnemy.Stats.Con"></td>
                                    <td><input type="text" ng-model="customEnemy.Stats.Wis"></td>
                                </tr>
                            </table>

                            <div class="combatRatingContainer">
                                <img src="img/sword.svg" class="crIcon" />
                                <div class="crNumber"><input type="text" ng-model="customEnemy.CR"></div>
                            </div>
                            
                            <table class="enemyCardDef">
                                <tr>
                                    <th>Fort</th>
                                    <th>Ref</th>
                                    <th>Will</th>
                                </tr>
                                <tr>
                                    <td><input type="text" ng-model="customEnemy.Saves.Fort"></td>
                                    <td><input type="text" ng-model="customEnemy.Saves.Ref"></td>
                                    <td><input type="text" ng-model="customEnemy.Saves.Will"></td>
                                </tr>
                            </table>

                            <div class="detailStats">
                                <input type=text" ng-model="customEnemy.AC.Details">
                            </div>

                            <button ng-click="submitCustomEnemy()" class="submitButton">Submit</button>

                            <div class="colorPallettes">
                                <div class="pallette" style="background-color: blue" ng-click="customEnemy.Color={'background-color': '#93A8AC' }"></div>
                                <div class="pallette" style="background-color: red" ng-click="customEnemy.Color={'background-color': '#CC998D' }"></div>
                                <div class="pallette" style="background-color: grey" ng-click="customEnemy.Color={'background-color': '#BCBDC0' }"></div>
                                <div class="pallette" style="background-color: green" ng-click="customEnemy.Color={}"></div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="modal-background"></div>
            </modal>
    </body>
</html>